.ido-view {
  width: 89%;
  max-width: 833px;
  margin: auto;
  color: white;

  .MuiTableCell-head {
    color: white;
  }

  .MuiTableCell-body {
    color: white;

  }

  .ido-view-card-container {
    margin-top: 16px;

    .bond-data-card {
      margin: auto !important;
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
      border-radius: 10px;
      padding: 20px;
      width: 100%;

      .bond-pair {
        display: flex !important;
        align-items: center;
        justify-content: left;
        margin-bottom: 15px;

        .MuiBox-root {
          margin-right: 10px;
        }

        .bond-name {
          svg {
            margin-left: 5px;
            vertical-align: middle;
            font-size: 15px;
          }
        }
      }

      .data-row {
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 12px 0;

        .bond-price {
          display: flex;
          align-items: center;

          svg {
            margin-right: 5px;
          }
        }

      }

      .bond-link {
        margin-top: 10px;
        text-align: center;

        a {
          width: 96%;
        }
      }

      .bond-card-btn {
        // margin: 0 20px;
        cursor: pointer;
        transition: all .4s ease;

        p {
          font-family: Montserrat SemiBold;
          font-style: normal;
          font-weight: 600;
          // font-size: 18px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }

  .currency-icon {
    display: inline-block;
    min-width: 15px;
  }

  .bond-name-title {
    font-family: Montserrat SemiBold;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
  }

  .bond-table-btn {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #767676;
    border-radius: 10px;
    padding: 6px 35.5px;
    text-align: center;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.6);
    }

    p {
      font-family: Montserrat Semibold;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
    }
  }

  .MuiTable-root {
    margin: 10px 0px;
  }

  .MuiTableRow-head {
    .MuiTableCell-alignLeft {
      padding-left: 20px;
    }
  }

  .MuiTableCell-root {
    p {
      margin: 0 !important;
      display: flex !important;
      align-items: center;
      justify-content: space-evenly;
      white-space: nowrap;

      img {
        margin-right: 3px;
      }
    }

    &.MuiTableCell-alignLeft {
      display: flex;
    }

    border-bottom: none;
  }

  .MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft {
    justify-content: space-between;

    div.ohm-pairs {
      width: 33%;
      vertical-align: middle !important;
      align-items: center !important;
      justify-content: center !important;
      margin-bottom: 0 !important;

      .ohm-pairs div.bond-name p,
      .ohm-pairs svg {
        align-self: center !important;
        line-height: 100% !important;
        font-weight: bold !important;
        margin-bottom: 0em !important;
        padding: 0 !important;
        font-family: inherit;
        vertical-align: text-top !important;
      }

      .ohm-logo-bg {
        margin-left: 0;
        border-radius: 20px;
        height: 40px;
        width: 40px;
      }
    }

    div.bond-name {
      width: 60%;
      margin-left: 8px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      align-items: flex-start;

      p {
        margin-bottom: unset !important;
        line-height: 140% !important;
      }

      svg {
        margin-left: 3px !important;
        font-size: 1.2em !important;
      }
    }
  }

  .ido-card {
    position: relative;
    z-index: 2;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }

    border-radius: 10px;
    // padding: 20px;
    width: 100%;

    .ido-card-grid {
      margin: 0;
      width: 100%;
    }

    .ido-card-header {
      .ido-card-header-title {
        font-family: Montserrat Bold;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 4px;
      }

      .ido-card-header-subtitle {
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
      }
    }

    .ido-card-metrics {
      display: flex;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 10px;

      .ido-card-apy,
      .ido-card-tvl,
      .ido-card-index {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .ido-card-metrics-title {
          font-family: Montserrat Medium;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.6);
          margin-bottom: 2px;
        }

        .ido-card-metrics-value {
          font-family: Montserrat Bold;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }
      }
    }

    .ido-view-card-table {
      color: #fff !important;

      .MuiTableCell-root {
        padding: 0;
      }

      .MuiTableCell-root {
        color: #fff;
      }

      .ido-view-card-table-title {
        font-family: Montserrat SemiBold;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
    }

    .ido-card-area {
      .ido-card-wallet-notification {
        text-align: center;

        .ido-card-wallet-connect-btn {
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
          border-radius: 10px;
          padding: 14px 58px;
          cursor: pointer;
          margin: auto;
          max-width: 280px;
          margin-top: 20px;

          p {
            font-family: Montserrat SemiBold;
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
          }
        }

        .ido-card-wallet-desc-text {
          font-family: Montserrat Light;
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          margin-top: 10px;
          margin-bottom: 6px;
        }
      }

      .ido-card-action-area {
        width: 100%;
        margin-top: 25px;

        .ido-card-action-stage-btns-wrap {
          display: flex;
          align-items: center;
          justify-content: center;

          .ido-card-action-stage-btn {
            margin: 0px 30px;
            padding: 6px;
            cursor: pointer;
            transition: all .4s ease;

            p {
              font-family: Montserrat SemiBold;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: rgba(255, 255, 255, 0.6);
            }
          }

          .ido-card-action-stage-btn.active {

            p {
              color: #FFFFFF;
            }

            border-bottom: 1px solid #FFFFFF;
            ;
          }
        }

        .ido-card-action-row {
          display: flex;
          align-items: center;
          margin-top: 20px;

          .ido-card-action-input {
            width: 100%;

            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            outline: none;

            .MuiOutlinedInput-input {
              font-family: Montserrat Medium;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.6);
              padding: 14px 20px;
            }

            .MuiOutlinedInput-notchedOutline {
              border-color: rgba(255, 255, 255, 0.2) !important;
            }

            .ido-card-action-input-btn {
              cursor: pointer;

              p {
                font-family: Montserrat SemiBold;
                font-weight: 600;
                font-size: 18px;
                color: #FFFFFF;
              }
            }
          }

          .ido-card-tab-panel {
            min-width: 215px;
            margin-left: 10px;

            .ido-card-tab-panel-btn {
              background: rgba(255, 255, 255, 0.2);
              box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
              border-radius: 10px;
              padding: 14px 0px;
              cursor: pointer;
              text-align: center;

              p {
                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #FFFFFF;
              }
            }
          }
        }

        .ido-card-action-help-text {
          margin-top: 10px;

          p {
            font-family: Montserrat Light;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
          }
        }

        .ido-card-action-area-inp-wrap {
          .ido-card-action-area-inp-wrap-title {
            font-family: Montserrat Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            margin-bottom: 5px;
            margin-left: 10px;
          }

          .ido-card-action-input {
            width: 100%;

            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            outline: none;

            .MuiOutlinedInput-input {
              font-family: Montserrat Medium;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.6);
              padding: 14px 20px;
            }

            .MuiOutlinedInput-notchedOutline {
              border-color: rgba(255, 255, 255, 0.2) !important;
            }

            .ido-card-action-input-btn {
              cursor: pointer;

              p {
                font-family: Montserrat SemiBold;
                font-weight: 600;
                font-size: 18px;
                color: #FFFFFF;
              }
            }
          }
        }
      }

      .ido-days-slider-wrap {
        margin-top: 30px;

        .ido-days-slider-wrap-title {
          font-family: Montserrat Medium;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          margin-bottom: 10px;
        }

        .ido-days-slider {

          .MuiSlider-rail,
          .MuiSlider-track {
            height: 10px;
          }

          .MuiSlider-rail {
            background: #232323;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            border: 1px solid #64C9FC;
          }

          .MuiSlider-track {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: linear-gradient(90deg, #64C9FC 0%, #446CF6 90%);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          }

          .MuiSlider-thumb {
            width: 20px;
            height: 20px;
            background: #232323;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border: 2px solid #446CF6;
          }
        }
      }

      .ido-user-data {
        justify-content: center;
        margin: auto;
        padding: 0 5px;
        margin-top: 30px;
      }
    }
  }
}

.data-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;

  .data-row-name {
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
  }

  .data-row-value {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 600px) {
  .ido-view {

    .ido-card {
      .ido-card-metrics {

        .ido-card-apy,
        .ido-card-tvl,
        .ido-card-index {
          align-items: flex-start;
        }

        .ido-card {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .ido-card-area {
        .ido-card-action-area {
          .ido-card-action-row {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .ido-view {
    width: 100%;

  }
}